.maplibregl-popup {
  background: transparent !important;
  box-shadow: none !important;
}

.maplibregl-popup-content {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.maplibregl-popup-tip {
  display: none !important;
}
